body {
  padding: 24px;
  font-family: "Inter";
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

.header {
  padding-bottom: 20px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 48px;
  width: 118px;
}

.menu {
  height: 100%;
  background: none;
  border: none;
}

.menu img {
  height: 20px;
  width: 20px;
}

.header-nav {
  display: none;
  width: 100%;
  padding-bottom: 24px;
  gap: 16px;
  justify-content: center;
}

.header-nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.header-nav li {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header-nav a {
  text-decoration: none;
  color: black;
}

.header-divider {
  height: 1px;
  width: 100%;
  background-color: #e0e0e0;
}

main {
  width: 100%;
  padding-top: 32px;
}

.new-releases {
  width: 100%;
}

.card-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid rgba(95, 95, 95, 0.4);
  background: #fff;
  padding: 16px;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-thumbnail {
  margin: 0 0;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  overflow: hidden;
}

.card-thumbnail img {
  width: 100%;
  height: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-weight: 300;
}

.card-info h3 {
  margin: 0;
}

.card-tags {
  display: flex;
  gap: 0.5rem;
}

.article-type {
  color: #eb6500;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-details p {
  margin: 0;
}

aside {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.author-divider {
  height: 1px;
  width: 100%;
  background-color: #e0e0e0;
}

.author-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  padding: 1rem;
  border: 1px solid rgba(95, 95, 95, 0.4);
  background: #fff;
}

.author-contact {
  display: none;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.author-button {
  background: none;
  border: none;
  color: #eb6500;
  padding: 0;
  font-size: 16px;
  margin-top: 24px;
}

.author-name-desktop {
  display: none;
}

.author-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: fill;
}

.author-info h2 {
  margin: 0;
  margin-top: 20px;
}

.author-info p {
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

footer {
  margin-top: 3rem;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-top: 2px solid #eb6500;
}

.site-info {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.site-info p {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.site-nav {
  width: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-nav {
  width: 100%;
  padding: 0;
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.footer-nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  flex-direction: column;
}

.footer-nav li {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer-nav a {
  text-decoration: none;
  color: black;
}

.site-contact {
  width: 100%;
  padding: 0;
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: flex-start;
}

.site-contact p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
  color: #eb6500;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  body {
    padding: 32px;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 16;
  }

  .card-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .card-thumbnail {
    width: 40%;
    aspect-ratio: 16/9;
  }

  .card-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex: 1 0 0;
    align-self: stretch;
    padding: 1rem;
  }

  .author-info {
    padding: 1.5rem;
  }

  .author-info p {
    margin: 0;
    margin-top: 1rem;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .site-info {
    width: 50%;
  }

  .site-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
  }

  .footer-nav {
    width: min-content;
  }

  .footer-nav ul {
    width: fit-content;
    align-items: flex-end;
  }

  .site-contact {
    align-items: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding: 48px 64px;
  }

  header {
    flex-direction: row;
  }

  .menu {
    display: none;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    width: 100%;
  }

  .header-nav a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }

  .header-nav a:hover {
    color: #eb6500;
    text-decoration: underline;
  }

  .header-divider {
    display: none;
  }

  .header-nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }

  main {
    display: flex;
    gap: 48px;
  }

  .new-releases {
    width: 70%;
  }

  aside {
    width: 30%;
    margin-top: 0;
    gap: 0;
  }

  .author-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .author-name-mobile {
    display: none;
  }

  .author-name-desktop {
    display: block;
  }

  .author-divider {
    display: none;
  }

  footer {
    padding: 3rem 0;
    margin-top: 8rem;
  }

  .site-info {
    width: 40%;
  }

  .footer-nav {
    width: min-content;
  }

  .site-nav {
    width: 60%;
  }
}
